*.class

# Package Files #
*.jar
*.war
*.ear

server/src/main/webapp/apidocs
server/overlays
target
.idea
*.iml
*.ipr
*.iws

/.*
!.development
!.gitignore

target/
dump/
web/node_modules/
web/vendor/
web/npm-debug.log
npm-debug.log

activemq-data/

!*/src/it/*/target
